<section id="blog" class="py-5" *ngIf="item.status">
  <div class="container">
    <h2 class="titulo" [innerHtml]="item.titulo"></h2>
    <p class="content" [innerHtml]="item.content"></p>
    <div class="row justify-content-center ios mb-4">
      <div *ngFor="let p of items$ | async" class="col-12 col-md-{{ item.config.col}} mb-4 container-blog">
        <app-post [post]="p"></app-post>
      </div>
    </div>
    <div class="text-center">
      <a [href]="item.buttom.url" target="_blank" class="btn btn-condor  rounded-pill z-depth-2">
        <h6 class="mb-0 text-uppercase b-08 py-1 px-3"> {{ item.buttom.text }} </h6>
      </a>
    </div>
  </div>
</section>
