#ofertas{
  background: url('../../../assets/images/bg_light.png') no-repeat center center;
  background-size: cover;
  .subtitulo {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-text-muted) !important;
  }
  select{
    border-radius: 20px;
  }
  input{
    border-radius: 20px;
  }
  .panel{
    padding: 10px;
    border-radius: 25px;
    background: #fafafa;
  }
  .panel-mobile{
    background: #fafafa;
  }
  #products{
    .row{
      margin-left: -5px !important;
      margin-right: -5px !important;
      .col-6{
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
    }
  }
  .isLoading{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 10000000000000000;
    background: rgba($color: #000000, $alpha: .95);
    .lds-ring {
      width: 80px;
      height: 80px;
      position: relative;
      display: inline-block;
      div {
        width: 64px;
        margin: 8px;
        height: 64px;
        display: block;
        border-radius: 50%;
        position: absolute;
        box-sizing: border-box;
        border: 8px solid #fff;
        border-color: #fff transparent transparent transparent;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        &:nth-child(1) { animation-delay: -0.45s; }
        &:nth-child(2) { animation-delay: -0.3s; }
        &:nth-child(3) { animation-delay: -0.15s; }
      }
    }
  }
}

@media(min-width: 768px) {
  #ofertas {
    .subtitulo {
      font-size: 2rem;
    }
  }
}

@keyframes lds-ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
