#prologo {
  .text {
    text-align: justify;
    color: var(--color-secondary);
  }
}

#como-ajudar {
  background-color: #fafafa;
  .titulo {
    color: var(--color-secondary);
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .raw-text {
    color: var(--color-secondary);
  }
}


#como-funciona {
  background-size: cover;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  .flex-center {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .titulo{
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .text {
    text-align: center;
  }
}
