<section *ngIf="item.status1">
  <div class="container">
    <div class="text-center">
      <iframe id="interactApp60f95eacf306e50017f8832a" width="800" height="800" style="border:none;max-width:100%;margin:0;" allowTransparency="true" frameborder="0" src="https://quiz.tryinteract.com/#/60f95eacf306e50017f8832a?method=iframe"></iframe>
    </div>
  </div>
</section>


<section id="blog" class="py-5" *ngIf="item.status">
  <div class="container">
    <h1 class="titulo">{{ item.titulo }}</h1>
    <div class="row justify-content-center ios mb-4">
      <div *ngFor="let p of items$ | async" class="col-12 col-md-{{ item.col}} mb-4 container-blog">
        <app-post [post]="p"></app-post>
      </div>
    </div>
    <div class="text-center">
      <a [href]="item.link" target="_blank" class="btn btn-condor  rounded-pill z-depth-2">
        <h6 class="mb-0 text-uppercase b-08 py-1 px-3"> {{ item.buttom }} </h6>
      </a>
    </div>
  </div>
</section>
