<section id="lives" *ngIf="item.status">
  <div class="text-center">
    <img [src]="item.logo" class="logo" alt="">
  </div>
  <div class="bg-cards">
    <div class="container">
      <p class="texto" [innerHtml]="item.texto"></p>
      <h3 class="titulo">{{ item.titulo }}</h3>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let live of item.source">
          <div class="card-live">
            <img [src]="live.img" class="img-fluid" [alt]="item.titulo">
            <div class="titulo">{{ live.titulo }}</div>
            <div class="data">
              <p>
                <i class="fas fa-calendar mr-1"></i>
                {{ live.data }}
              </p>
            </div>
            <p class="text-center pb-3">
              <a href="" class="btn btn-round btn-condor">
                {{ isActive ? 'Assistir' : 'Informações' }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
