<section id="filtro" class="py-5" *ngIf="item.status">
  <div class="container">
    <h2 class="titulo"> {{ item.titulo }}</h2>
    <div class="d-md-none">
      <div class="row justify-content-center">
        <div class="col-8">
          <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item *ngFor="let it of item.source">
              <div class="text-center">
                <a [href]="it.link">
                  <img class="img-fluid" [src]="it.mobile">
                </a>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block pb-5">
      <div class="row justify-content-center">
        <div class="col-md-3" *ngFor="let it of item.source">
          <img [src]="it.desktop" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
