section {
  background: var(--color-clube-condor);
}

.app-titulo{
  margin-bottom: 1rem;
  line-height: 2.7rem;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  color: #b31e20;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.app-titulo span {
  background: #fff;
  border-radius: 5px;
  padding: .5rem;
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}


@media(min-width: 992px) {
  .app-titulo{
    color: var(--color-primary);
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 900;
    span {
      background: none;;
    }
  }
}

