<section id="cortes" class="py-5" *ngIf="item.status">
  <div class="container">
    <h2 class="titulo" [innerHtml]="item.titulo"></h2>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p class="content" [innerHtml]="item.content"></p>
      </div>
      <div class="col-lg-11">
        <p class="subtitulo" [innerHtml]="item.subtitulo"></p>
        <swiper [lazy]="true" [config]="options" [navigation]="true" (slideChange)="onSlideChange($event)">
          <ng-template swiperSlide *ngFor="let box of item.source">
            <div class="box">
              <img [src]="box.image" [alt]="box.name" class="img-fluid">
              <div class="contenedor">
                <p class="button"> <span>{{ box.name }}</span> </p>
                <p class="content">{{ box.text }}</p>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</section>
