<section id="one" class="position-relative">
  <div id="games" class="container py-5">
    <h2 class="titulo mb-4" [innerHtml]="one.titulo"></h2>
    <div class="row justify-content-around">
      <div class="col-11 col-md-6" *ngFor="let item of one.items">
        <a [href]="item.url" target="_blank">
          <div class="block">
            <img [src]="item.img" class="img-fluid" [alt]="item.title">
          </div>
          <div class="subtitle">
            <span>{{ item.title }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="two" class="py-5">
  <div class="container">
    <h2 class="titulo mb-4" [innerHtml]="two.titulo"></h2>
    <div class="row justify-content-around">
      <div class="col-11 col-md-6" *ngFor="let item of two.items">
        <a [href]="item.url" target="_blank">
          <div class="block">
            <img [src]="item.img" class="img-fluid" [alt]="item.title">
          </div>
          <div class="subtitle">
            <span>{{ item.title }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
