section{
  background-size: cover;
  background-attachment: fixed;
  background-position: center right;
  background-repeat: no-repeat;
  .titulo {
    color: var(--color-secondary);
    font-weight: 700;
  }

  .conteudo{
    display: flex;
    flex-direction: row;
    div {
      width: 65%;
      &:last-child {
        width: 35%;
        padding: 0 0 .5rem 1rem;
      }
    }
  }
}


