section{
  background-size: cover;
  height: 60vh;
  background-position: center right;
  background-repeat: no-repeat;
  .flex-center {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }
}

@media(min-width: 768px) {
  section{
    height: 30vh;
    background-position: bottom right;
    .flex-center {
      height: 20vh;
    }
  }
}

@media(min-width: 1200px) {
  section{
    height: 60vh;
    background-position: bottom right;
    .flex-center {
      height: 40vh;
    }
  }
}
