:root {
  --color-footer: #ffd4e8;
  --color-primary:  #ab002a;
  --color-tertiary: #ff1308;
  --color-secondary: #fe564d;
  --color-text-muted: #757575;
  --color-clube-condor: #447ab3;
  --condor-blog: #00c8c8;

  // Product
  --color-oferta-secondary: #ff173f;

  @mixin font-weight($number) {
    font-weight: $number !important;
  }
}
