<section id="cec" class="py-5" *ngIf="item.status">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-5 col-xl-6">
        <div class="text-center">
          <img [src]="item.image.img" [alt]="item.image.alt" class="img-fluid mb-4">
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="titulo mb-4" [innerHtml]="item.titulo"></h2>
        <div class="text-center">
          <a [href]="item.buttom.url" target="_blank" class="btn btn-em-casa">
            <p class="mb-0" [innerHtml]="item.buttom.text"></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
