<div class="d-none d-md-block" *ngIf="item.status">
  <div class="fixed-action-btn">
    <a class="btn-floating floating-lg btn-lg waves-effect waves-light" [href]="item.link" target="_blank"
    mdbTooltip="{{item.text}}" placement="top">
      <i class="fas fa-shopping-cart"></i>
    </a>
  </div>
</div>
  <div class="d-md-none">
    <div class="banner" [ngClass]="{'zero': zero === true}">
      <span class="close" (click) ="toogle()">
        <i class="fas fa-angle-down" *ngIf="!zero"></i>
        <i class="fas fa-angle-up" *ngIf="zero"></i>
      </span>
      <p>
        <a [href]="item.link" target="_blank">
          <i class="fas fa-shopping-cart mr-1"></i>
          {{item.text}}
        </a>
      </p>
    </div>
</div>
