<section id="agenda" class="py-md-5" *ngIf="items.status">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-7 col-lg-5 align-self-center mb-4">
        <img [src]="items.left.image" class="img-fluid wow fadeIn" [alt]="items.left.alt">
        <div class="text wow fadeIn" data-wow-delay="0.6s">
          <ul>
            <li *ngFor="let texto of items.left.texto">{{ texto }}</li>
          </ul>
          <h5 class="mb-0 text-center" [innerHtml]="items.left.button"></h5>
        </div>
      </div>
      <div class="col-10 col-md-5 col-lg-4 wow fadeIn" data-wow-delay="1s">
        <img [src]="items.right.image" class="img-fluid" [alt]="items.right.alt">
      </div>
    </div>
  </div>
</section>
