footer{
  background: var(--color-footer);
  a { color: #fafafa; }
  .copyright {
    padding: .25rem 0;
    background-color: rgba($color: #fff, $alpha: 1);
    p {
      color: var(--color-primary);
      margin-bottom: 0px;
      font-size: .75rem;
      text-align: center;
    }
  }
}

section {
  .text-legal {
    font-size: .9rem;
    text-align: center;
    color: #fafafa;
    margin-bottom: 0;
    font-weight: 300 !important;
  }
}
