section {
  background: rgba($color: #000000, $alpha: .30);
  .a {
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid red;
    color: red;
    text-align: center;
    padding: .35rem .5rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .b{
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;
    color: var(--color-amarelho);
    margin-bottom: 0;
  }
  .c{
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 800;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
    margin-top: 15px;
  }
  .d{
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
  }
  .e{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 800;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
  }
  .f{
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
  }
  .g{
    font-size: 1.2rem;
    font-weight: 800;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
    margin-bottom: 0;
  }
  .h {
    font-size: 3rem;
    font-weight: 900;
    line-height: 3rem;
    text-align: center;
    color: #fff;
  }
  .i {
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 2.5rem;
    text-align: center;
    color: var(--color-amarelho);
    margin-bottom: 0;
  }
}


@media(min-width: 768px) {
  section {
    .a {
      padding: .35rem .5rem;
      font-size: 1.5rem;
    }
    .b{
      text-align: center;
      font-size: 3rem;
    }
    .c1{ text-align: center; }
    .c{
      width: 20%;
      text-align: right;
      margin-top: 20px;
      font-size: 2rem;
    }
    .d{
      width: 42%;
      margin-top: -30px;
      font-size: 6rem;
    }
    .e{
      width: 25%;
      margin-top: 20px;
      font-size: 2rem;
    }
    .f{
      margin-top: -30px;
      font-size: 3rem;
    }
    .g{
      font-size: 1.8rem;
    }
    .h {
      font-size: 3rem;
    }
    .i {
      font-size: 3rem;
      line-height: 3.4rem;
    }
  }

}


@media(min-width: 1200px) {
  section {
    .a {
      padding: .35rem .5rem;
      font-size: 1.5rem;
    }
    .b{
      margin-top: 30px;
      font-size: 2.5rem;
    }
    .c{
      margin-top: 10px;
      font-size: 2rem;
    }
    .d{
      margin-top: -30px;
      font-size: 5rem;
    }
    .e{
      margin-top: 10px;
      font-size: 2rem;
    }
    .f{
      margin-top: 0;
      font-size: 2rem;
    }
    .g{
      font-size: 1.3rem;
    }
    .h {
      font-size: 3rem;
    }
    .i {
      font-size: 3rem;
      line-height: 3.4rem;
    }
  }

}
