<main *ngIf="(items$ | async) as item">
  <app-header [item]="item.header" [menu]="item.menu" [participar]="item.participar"></app-header>
  <app-ofertas [item]="item.ofertas"></app-ofertas>
  <app-sorteios [item]="item.sorteios"></app-sorteios>
  <app-old [item]="item.appOld"></app-old>
  <app-ddv [item]="item.ddv"></app-ddv>
  <app-instagram [item]="item.filterIG"></app-instagram>
  <app-quiz [item]="item.quiz"></app-quiz>
  <app-blog [item]="item.blog"></app-blog>
  <app-parceiros [item]="item.parceiros"></app-parceiros>
  <app-footer [item]="item.footer"></app-footer>
</main>
