<!-- <section id="banner" *ngIf="items.status">
  <div class="view">
    <img [src]="items.background" class="w-100" alt="">
    <div class="mask">
      <div class="container">
        <div class="flex-center">
          <h2 class="lead text-center texto-banner mb-" [innerHtml]="items.texto"></h2>
          <img [src]="items.image" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</section> -->


<section id="parallax" *ngIf="items.status" [ngStyle]="{'background-image': 'url(' + items.background + ')'}">
  <div class="flex-center">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-7">
          <h2 class="lead text-center texto-parallax mb-5 wow slideInLeft" [innerHtml]="items.texto"></h2>
          <img [src]="items.image" class="img-fluid wow slideInRight" data-wow-offset="10" alt="Iconos">
        </div>
      </div>
    </div>
  </div>
</section>
