<header *ngIf="item.status">
  <app-menu [item]="menu"></app-menu>
  <div class="container">
    <div class="pt-5">
      <div class="row justify-content-center mb-5">
        <div class="col-10 col-md-7">
          <div class="position-relative">
            <a href="">
              <img [src]="item.kv.img" class="img-fluid" alt="Ofertas em Combo">
              <img [src]="item.kv.brilho" class="brilho" alt="Ofertas em Combo">
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-8 col-md-4 col-lg-4 col-xl-3 mb-4" *ngFor="let tag of item.tags">
          <img [src]="tag.img" class="img-fluid w-100" alt="">
        </div>
      </div>
    </div>
  </div>
</header>
