header{
  background: url('../../../assets/images/bg_header_desktop.png') no-repeat bottom center;
  background-size: cover;
  .content {
    padding-top: 5rem;
  }
  .title {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-primary);
    font-size: 1.4rem;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: .20);
    padding: 1rem .5rem;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba($color: #fff, $alpha: .40);
    span {
      color: var(--color-amarelho);
      font-weight: 900;
    }
  }
}


@media(min-width: 1200px) {
  header {
    .title {
      font-size: 1.7rem;
    }
  }
}
