<header id="header" *ngIf="item.status" [ngStyle]="{'background-image': 'url(' + item.background + ')'}">
  <app-menu [item]="menu"></app-menu>
  <div class="flex-center">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-10 col-md-6 col-lg-5 align-self-center text-center">
          <a href="">
            <img [src]="item.left.image" class="img-fluid wow fadeIn" [alt]="item.left.alt">
          </a>
        </div>
        <div class="col-10 col-md-6 col-lg-5 align-self-center text-center">
          <a [href]="item.right.url" target="_blank">
            <img [src]="item.right.image" class="img-fluid mb-3 wow fadeIn" data-wow-delay="0.4s" [alt]="item.right.alt">
          </a>
          <h4 class="btn wow fadeIn" data-wow-delay="0.7s">
            <a [href]="item.right.url" target="_blank">{{ item.right.alt }}</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</header>
