header{
  background: url('../../../assets/images/bg_header.jpg') no-repeat center center;
  background-size: cover;
  .flex-center {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }
  .brilho{
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 0;
    top: 0;
  }
}

.youtube{
  margin-top: -5rem;
  .frame {
    border: 8px solid var(--color-primary);
    -webkit-box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75);
  }
}
