header{
  background-size: cover;
  height: 130vh;
  background-position: center center;
  background-repeat: no-repeat;
  .flex-center {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }
}

.btn {
  background-color: var(--color-secondary);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: .75rem 1.5rem;
  border-radius: 25px;
  a{
    color: var(--color-primary);
  }
}

.youtube{
  margin-top: -5rem;
  .frame {
    border: 8px solid var(--color-primary);
    -webkit-box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.75);
  }
}


@media(min-width: 768px) {
  header{
    height: 60vh;
    .flex-center{
      height: 55vh;
    }
    .lead {
      font-size: 2.5rem;
    }
  }
}

@media(min-width: 1024px) {
  header{
    .lead {
      font-size: 4rem;
    }
  }
}


@media(min-width: 1200px) {
  header{
    height: 100vh;
    .flex-center {
      height: 95vh;
    }
  }
  .youtube{
    margin-top: -5.5rem;
  }
}
